/* ---- Defining the color palette ----- */
:root {
  --dark-pink-text: #af4568;
  --dark-pink-bg: #e8acc5;
  --light-pink-bg: #f1cfdd;
  --accent-red: #c15c4c;
  --accent-yellow: #ffd469;
  --accent-blue: #8dc6c6;
}

/* ---- Global Elements ---- */
body {
  margin: 0;
}

h1 {
  color: var(--dark-pink-text);
  font-family: Raleway;
  font-weight: 900;
  font-size: 4.5rem;
}
/* ---- Nav bar ---- */
.nav-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent-red);
  width: 100%;
  padding: 5px;
}
.nav-logo {
  margin-left: 10px;
}

.nav-items {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 80%;
}

.nav-items a {
  font-family: Raleway;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  padding: 0px 10px;
}

/* ----- Home Section ------*/
#home {
  background-color: var(--dark-pink-bg);
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

.home-main-text {
  grid-row: 1/2;
  grid-column: 1/4;
  display: flex;
  flex-flow: column;
  width: 35%;
  justify-self: center;
  text-align: center;
}

.home-main-text h1 {
  margin-bottom: 15px;
}

.home-main-text p {
  color: white;
  font-family: Raleway;
  justify-self: center;
}

.home-main-text a {
  color: white;
  background-color: var(--dark-pink-text);
  font-weight: bold;
  font-family: Raleway;
  width: 30%;
  border-radius: 15px;
  align-self: center;
  padding: 15px 0px;
}
