/* ---- Defining the color palette ----- */
:root {
  --dark-pink-text: #af4568;
  --dark-pink-bg: #e8acc5;
  --light-pink-bg: #f1cfdd;
  --accent-red: #c15c4c;
  --accent-yellow: #ffd469;
  --accent-blue: #8dc6c6;
  --transparent-pink: #e8acc5c4;
}

/*----------------------------------*/

/* ---- Global Elements ---- */
body {
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--dark-pink-text);
  font-family: Raleway;
  font-weight: 800;
  font-size: 4.5rem;
}

h2 {
  color: var(--dark-pink-text);
  font-family: Raleway;
  font-weight: 800;
  font-size: 3.5rem;
  margin: 0;
}

h3 {
  color: var(--dark-pink-text);
  font-family: Raleway;
  font-weight: 800;
  font-size: 2.2rem;
  align-self: center;
}

/*----------------------------------*/

/* ---- Nav bar ---- */
.nav-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent-red);
  width: 100%;
  padding: 5px 0;
}
.nav-logo {
  margin-left: 10px;
}

.nav-items {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 80%;
}

.nav-items a {
  font-family: Raleway;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  padding: 0px 10px;
  cursor: pointer;
}
/*----------------------------------*/

/* ----- Home Section ------*/
#home {
  background-color: var(--dark-pink-bg);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  row-gap: 80px;
  background-image: url("/css/images/home-bg.png");
  background-size: 100vw 100%;
  background-position: 0% -100px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

/*- - - - Home Section - First Half - - - -*/
.home-main-text {
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  flex-flow: column;
  justify-self: center;
  text-align: center;
}

.home-main-text h1 {
  margin-bottom: 15px;
  align-self: center;
  width: 600px;
}

.home-main-text p {
  color: white;
  font-family: Raleway;
  align-self: center;
  text-indent: 40px;
  text-align: justify;
  width: 75%;
  max-width: 500px;
}

.home-main-text a {
  color: white;
  background-color: var(--dark-pink-text);
  font-weight: bold;
  font-size: 1.3rem;
  font-family: Raleway;
  border-radius: 15px;
  align-self: center;
  padding: 15px 20px;
  margin-top: 15px;
}

/*- - - - Home Section - Second Half - - - -*/
.images-home {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 100%;
  padding: 25px 0;
}
.images-home img {
  max-height: 220px;
  z-index: 3;
}
.chocolate {
  padding-right: 12vw;
  transform: translateX(4vw);
  z-index: 3;
}
.pan {
  z-index: 3;
}

.brigadeiro {
  padding-left: 8vw;
}

.line {
  position: absolute;
  margin-top: 7%;
  width: 85vw;
  max-width: 1300px;
}

/*----------------------------------*/

/*-------- Products Section -------*/
#produtos {
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

.produtos-faixa {
  display: flex;
  flex-flow: row;
  width: 100vw;
  position: relative;
  min-height: 220px;
}

.product-item {
  min-height: 220px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  align-items: center;
}

.produto-esquerda {
  margin-left: 20px;
}

.produto-direita {
  margin-right: 30px;
}

/* - - - Faixa 1 - - - */

.produtos-texto {
  text-align: center;
  justify-content: center;
  z-index: 3;
  background-color: var(--light-pink-bg);
}

.dia-das-maes {
  background-color: var(--dark-pink-bg);
  z-index: 1;
}

.dia-das-maes h3 {
  color: white;
}

/* - - - Faixa 2 - - - */

.dia-dos-namorados {
  background-color: var(--dark-pink-bg);
  z-index: 3;
}

.pascoa {
  background-color: var(--light-pink-bg);
  z-index: 1;
}

/* - - - Faixa 3 - - - */

.aniversario {
  background-color: var(--light-pink-bg);
  z-index: 3;
}

.aniversario h3 {
  padding-left: 80px;
}

.dia-das-criancas {
  background-color: var(--dark-pink-bg);
  z-index: 1;
}

.dia-das-criancas h3 {
  color: white;
}

.dia-das-criancas img {
  margin-top: -10px;
}

/*----------------------------------*/

/*--------  Transparent section -------*/
.transparent-section {
  position: relative;
  min-height: 350px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--transparent-pink);
}

.transparent-section h1 {
  font-size: 7rem;
  z-index: 2;
  color: white;
  text-align: center;
}

.transparent-section img {
  position: fixed;
  width: 100vw;
  z-index: -1;
  transform: translateY(-1300px);
}

/*----------------------------------*/

/*--------  About Me section -------*/
#sobre-mim {
  background-color: var(--light-pink-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.perfil {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 150px 0;
}

.foto-perfil {
  width: 35%;
  max-width: 550px;
  margin-right: 5%;
}

.logo-descricao {
  margin-right: 25px;
  float: left;
}

.descricao-perfil {
  width: 35%;
  min-width: 450px;
}

.descricao-perfil p {
  text-align: justify;
  font-size: 1.23rem;

  font-family: Raleway;
}

/*----------------------------------*/

/*--------  Form -------*/

form {
  display: flex;
  flex-flow: column;
}

.final-form {
  background-color: var(--light-pink-bg);
  width: 100%;
  min-height: 850px;
  padding-top: 0.02%;
}

.final-form h1 {
  margin-top: 5%;
  text-align: center;
  transform: translateY(-50px);
  align-self: center;

  margin-left: auto;
  margin-right: auto;
  box-shadow: -5px 5px 0px 5px var(--accent-blue);
  width: 50%;
  padding-bottom: 15px;
}

.form-container {
  background-color: white;
  width: 50%;
  min-width: 550px;
  margin: 0 auto 5% auto;
  min-height: 450px;
  box-shadow: 40px 40px 5px 0 var(--accent-yellow);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 25% 25% 50%;
  column-gap: 15px;
  padding: 50px 15px 25px;
}
.form-item {
  max-height: 25px;
  font-family: Raleway;
  font-size: 1rem;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.form-item label {
  margin-right: 15px;
  margin-left: 25px;
  width: 35%;
}

.form-item input {
  width: 100%;
  border: none;
  border-bottom: 1px solid gray;
  max-height: 25px;
  font-family: Raleway;
  font-size: 1rem;
}

/* - - - Grid - - - */

.nome {
  grid-column: 1/2;
  grid-row: 1/2;
}

.nome label {
  width: 45%;
}

.telefone {
  grid-column: 1/2;
  grid-row: 2/3;
}

.telefone label {
  width: 15%;
}

.email {
  grid-column: 2/3;
  grid-row: 1/2;
}

.email label {
  width: 30%;
}

.messagem {
  grid-column: 1/3;
  grid-row: 3/4;
  display: flex;
  flex-flow: column;
  font-family: Raleway;
  font-size: 1rem;

  margin-left: 25px;
}

.messagem textarea {
  font-family: Raleway;
  font-size: 1rem;
}

/* - - - Send button - - - */

.btn-send {
  width: 15%;
  min-width: 200px;
  align-self: center;
  margin-bottom: 100px;
  font-size: 3.5rem;
  background-color: rgba(255, 255, 255, 0.979);
  color: var(--accent-red);
  border: none;
  padding: 0 5px;
  font-family: Raleway;
  box-shadow: -15px 15px 0 -5px var(--accent-blue);
  /* text-shadow: 6px -8px var(--accent-red); */
  padding: 0 20px;
  font-weight: 600;
}

/*----------------------------------*/

/*--------  Footer -------*/

footer {
  min-height: 150px;
  background-color: var(--accent-red);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.icons {
  color: rgba(255, 255, 255, 0.534);
  font-size: 2rem;
}

.icons span {
  margin: 0 12px;
}

.copyright {
  color: rgba(255, 255, 255, 0.534);
  margin-top: 15px;
  font-family: Raleway;
}
