/* ---- Defining the color palette ----- */
:root {
  --dark-pink-text: #af4568;
  --dark-pink-bg: #e8acc5;
  --light-pink-bg: #f1cfdd;
  --accent-red: #c15c4c;
  --accent-yellow: #ffd469;
  --accent-blue: #8dc6c6;
}
/*----------------------------------*/

/* ---- Global Elements ---- */
body {
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--dark-pink-text);
  font-family: Raleway;
  font-weight: 800;
  font-size: 4.5rem;
}

h2 {
  color: var(--dark-pink-text);
  font-family: Raleway;
  font-weight: 800;
  font-size: 3.5rem;
  margin: 0;
}

h3 {
  color: var(--dark-pink-text);
  font-family: Raleway;
  font-weight: 800;
  font-size: 2.2rem;
  align-self: center;
}
/*----------------------------------*/

/* ---- Nav bar ---- */
.nav-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent-red);
  width: 100%;
  padding: 5px 0;
}
.nav-logo {
  margin-left: 10px;
}

.nav-items {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 80%;
}

.nav-items a {
  font-family: Raleway;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  padding: 0px 10px;
}
/*----------------------------------*/

/* ----- Home Section ------*/
#home {
  background-color: var(--dark-pink-bg);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  row-gap: 80px;
  background-image: url("/css/images/home-bg.png");
  background-size: 100vw 100%;
  background-position: 0% -100px;
  background-repeat: no-repeat;
}

/*- - - - Home Section - First Half - - - -*/
.home-main-text {
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  flex-flow: column;
  justify-self: center;
  text-align: center;
}

.home-main-text h1 {
  margin-bottom: 15px;
  align-self: center;
  width: 600px;
}

.home-main-text p {
  color: white;
  font-family: Raleway;
  align-self: center;
  text-indent: 40px;
  text-align: justify;
  width: 75%;
  max-width: 500px;
}

.home-main-text a {
  color: white;
  background-color: var(--dark-pink-text);
  font-weight: bold;
  font-size: 1.3rem;
  font-family: Raleway;
  border-radius: 15px;
  align-self: center;
  padding: 15px 20px;
  margin-top: 15px;
}

/*- - - - Home Section - Second Half - - - -*/
.images-home {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 100%;
  padding: 25px 0;
}
.images-home img {
  max-height: 220px;
  z-index: 3;
}
.chocolate {
  padding-right: 12vw;
  transform: translateX(4vw);
  z-index: 3;
}
.pan {
  z-index: 3;
}

.brigadeiro {
  padding-left: 8vw;
}

.line {
  position: absolute;
  margin-top: 7%;
  width: 85vw;
  max-width: 1300px;
}

/*----------------------------------*/

/*-------- Products Section -------*/
#produtos {
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

.produtos-faixa {
  display: flex;
  flex-flow: row;
  width: 100vw;
  position: relative;
  min-height: 220px;
}

.product-item {
  min-height: 220px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  align-items: center;
}

.produto-esquerda {
  margin-left: 20px;
}

.produto-direita {
  margin-right: 30px;
}

/* - - - Faixa 1 - - - */

.produtos-texto {
  text-align: center;
  justify-content: center;
  z-index: 3;
  background-color: var(--light-pink-bg);
}

.dia-das-maes {
  background-color: var(--dark-pink-bg);
  z-index: 1;
}

.dia-das-maes h3 {
  color: white;
}

/* - - - Faixa 2 - - - */

.dia-dos-namorados {
  background-color: var(--dark-pink-bg);
  z-index: 3;
}

.pascoa {
  background-color: var(--light-pink-bg);
  z-index: 1;
}

/* - - - Faixa 3 - - - */

.aniversario {
  background-color: var(--light-pink-bg);
  z-index: 3;
}

.aniversario h3 {
  padding-left: 80px;
}

.dia-das-criancas {
  background-color: var(--dark-pink-bg);
  z-index: 1;
}

.dia-das-criancas h3 {
  color: white;
}

.dia-das-criancas img {
  margin-top: -10px;
}

/*----------------------------------*/

/*-------- Products Section -------*/
